body {
    background-color: #444;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h1 {
    font-size: 48px;
    margin: 0;
}
#board {
    margin-top: 20px;
}
.row {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enterCell, .backspaceCell {
    width: 100px;
    height: 50px;
    border: 1px solid lightgray;
    display: grid;
    place-items: center;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background-color: #666;
    color: white;
}
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    display: inline-block;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background-color: #666;
    color: white;
}
.enterCell img, .backspaceCell img {
    height: 40px;
    vertical-align: middle;
}
.enterCell:hover, .backspaceCell:hover {
    background-color: #555;
    cursor: pointer;
}
.cell:hover {
    background-color: #555;
    cursor: pointer;
}